<!-- home.ejs複製來的 -->
<%- include('../parts/html-head') %>
<!-- ejs的include function,要用-號,現在是ejs要引入其他的ejs,這時候要用相對路徑 -->
<%- include('../parts/navbar') %>



 


  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">傑哥來細看</h5>

          <form name="form1" onsubmit="sendForm(event)">
             <%= row.article_content %>
          </form>

          <button type="" class="btn btn-primary">下面終於是留言了</button>

          <div class="mb-3">
          <% for(let i of rows) {%>
            <div><%= i.comment_id%></div>
            <div><%= i.comment_content%></div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('../parts/scripts') %>
<%- include('../parts/html-foot') %>
