<!-- home.ejs複製來的 -->
<%- include('../parts/html-head') %>
<!-- ejs的include function,要用-號,現在是ejs要引入其他的ejs,這時候要用相對路徑 -->
<%- include('../parts/navbar') %>




<div class="container">
  <div>這裡是編輯文章的~~~~</div>


<div class="row">
    <div class="col-6">


      <div class="card">

        <div class="card-body">
          <h5 class="card-title">編輯資料</h5>


          <form name="form1" onsubmit="sendForm(event)">
             <input type="hidden" name="article_id" value="<%= article_id %>">


            <!-- <div class="mb-3">
              <label for="article_id" class="form-label">article_id</label>
              <input type="text" class="form-control" id="article_id" name="article_id" value="<%= article_id %>">
              <div class="form-text"></div>
            </div>  -->


            <div class="mb-3">
              <label for="article_member_id" class="form-label">article_member_id</label>
              <input type="text" class="form-control" id="article_member_id" name="article_member_id" value="<%= article_member_id %>">
              <div class="form-text"></div>
            </div>

            <div class="mb-3">
              <label for="article_boardcategory_name" class="form-label">article_boardcategory_name</label>
              <input type="text" class="form-control" id="article_boardcategory_name" name="article_boardcategory_name" value="<%= article_boardcategory_name %>">
              <div class="form-text"></div>
            </div>

            <div class="mb-3">
              <label for="article_title_name" class="form-label">article_title_name</label>
              <input type="text" class="form-control" id="article_title_name" name="article_title_name" 
              value="<%= article_title_name %>"/>
              <div class="form-text"></div>
            </div>

            <div class="mb-3">
              <label for="article_content" class="form-label">article_content</label>
              <!-- 修改時資料部會顯示!!!! --><!-- 修改時資料部會顯示!!!! -->
              <textarea 
              class="form-control"
              id="article_content"  
              name="article_content" 
              cols="30" rows="7"><%= article_content %></textarea>
            </div>
              <!-- 修改時資料部會顯示!!!! --><!-- 修改時資料部會顯示!!!! -->


            <button type="submit" class="btn btn-primary">修改</button>
          </form>


        </div>
      </div>

    </div>
</div>




</div>




<!-- Modal 彈出去的視窗-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-article_content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">資料修改結果</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="alert alert-success" role="alert">
          修改成功
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">繼續編輯</button>
        <button type="button" class="btn btn-primary" onclick="document.referrer ? location.href= document.referrer: history.back()">回到列表頁</button>
      </div>
    </div>
  </div>
</div>





<%- include('../parts/scripts') %>


<script>
function sendForm(e){
  e.preventDefault();
  //要做資料檢查
  const fd = new FormData(document.form1);
  // const usp = new URLSearchParams(fd);
  const dataObj =Object.fromEntries(fd);
  fetch("", {
    method:'PUT',
    body:JSON.stringify(dataObj), 
    headers:{
      "content-Type": "application/json",
    },
    
    //multipart/form-data

    /*
    body: usp.toString(), //2. application/x-www-form-urlencoded
    headers:{
      'article_content-Type':'application/x-www-form-urlencoded',
    }
    */

    /*
    body: JSON.stringify(dataObj), //3. application/json
    headers:{
      'article_content-Type':'application/json',
    }
*/
  })
  .then((r)=>r.json())
  .then((data)=>{
    console.log(data);
    if(data.success){
      alertBar.classList.remove("alert-danger")
      alertBar.classList.add("alert-success")
      alertBar.innerText="修改成功"
      myModal.show();

    }else{
      alertBar.classList.remove("alert-success")
      alertBar.classList.add("alert-danger")
      alertBar.innerText="資料沒有被修改"
      myModal.show();

    }

  })
.catch((ex)=> console.log(ex));
}

const exampleModal= document.querySelector('#exampleModal');
const alertBar =exampleModal.querySelector('.alert');

const myModal = new bootstrap.Modal('#exampleModal', {
  keyboard: false,
});


</script>

<%- include('../parts/html-foot') %>
